<%= render 'montessori/shared/header' %>
<div class="flex flex-col flex-1 w-full mx-auto px-8 xl:px-0 overflow-hidden">
  <section class="flex flex-col lg:flex-row gap-8">
    <div class="flex-1 flex lg:justify-end lg:items-center">
      <div id="welcome-block">
        <h1 class="mb-4 font-semibold text-6xl text-center lg:text-left">Монтессори среда - воспитываем любовью</h1>
        <p class="lg:pr-24 leading-8 text-center lg:text-left">Монтессори Среда предоставляет ребёнку возможность развиваться в соответствии с возрастными потребностями, почувствовать свою значимость и индивидуальность.</p>
      </div>
    </div>
    <div class="flex-1 hidden lg:flex items-center relative pt-12">
      <div id="welcome-image-background"></div>
      <div id="welcome-image-box">
        <%= image_tag 'montessori/background.webp', class: 'rounded-lg shadow-lg', alt: 'happy-image', width: 1440, height: 576 %>
      </div>
    </div>
  </section>
  <section id="about" class="py-8 lg:py-16">
    <div class="mx-auto max-w-6xl">
      <h1>Что такое семейный клуб Монтессори среда?</h1>
      <p>Мы - сообщество сторонников альтернативного образования, объединяющее талантливых преподавателей, детей и родителей, выбирающих семейное обучение. Мы - семьи, объединенные общими ценностями, создающие специальную среду для образования, воспитания и развития своих детей и себя. Люди, готовые действовать, меняться, расти и создавать себя и своего мир.</p>
      <br />
      <p>Мы НЕ школа, НЕ садик и даже НЕ детский центр. МЫ НЕ оказываем услуг и у нас НЕТ клиентов.</p>
      <br />
      <p>Мы - Семейный Клуб - сообщество активных родителей, которым не все равно как дети проживут школьные годы, и которые хотят наслаждаться этим временем вместе со своими детьми.</p>
      <br />
      <p>Все наши дети официально на семейном обучении, а методы обучения и педагогов мы выбираем совместно со всеми членами нашего Клуба.</p>
    </div>
  </section>
  <section id="junior" class="flex flex-col md:flex-row mx-auto max-w-6xl py-8 lg:py-16 gap-8">
    <div class="flex-1">
      <h1 class="mb-8">Группа 3-6 лет</h1>
      <p class="mb-4">В нашем пространстве дети учатся:</p>
      <ul class="list">
        <li>слышать себя и слушать других,</li>
        <li>с лёгкостью и интересом познавать окружающий мир и разные науки,</li>
        <li>чувствовать свои и чужие границы,</li>
        <li>конструктивно решать конфликты,</li>
        <li>проявлять волевые качества,</li>
        <li>быть самостоятельными.</li>
      </ul>
      <p>Помещение для занятий находится на 22 микрорайоне в Липецке.</p>
    </div>
    <div class="flex-1">
      <%= image_tag 'montessori/junior.webp', class: 'rounded-lg shadow-lg', alt: 'junior', width: 640, height: 620 %>
    </div>
  </section>
  <section id="middle" class="flex flex-col-reverse md:flex-row mx-auto max-w-6xl py-8 lg:py-16 gap-8">
    <div class="flex-1">
      <%= image_tag 'montessori/middle.webp', class: 'rounded-lg shadow-lg', alt: 'middle', width: 640, height: 620 %>
    </div>
    <div class="flex-1">
      <h1 class="mb-8">Группа 6-12 лет</h1>
      <ul class="list">
        <li>В Монтессори-классе 6-12 дети в полной мере учатся использовать свой Рассуждающий Разум. И одним из видов деятельности, удовлетворяющих их потребность в поиске ответов и причин, является 🔥 ПРОЕКТНАЯ ДЕЯТЕЛЬНОСТЬ.</li>
        <li>Практические навыки в Монтессори среде помогают ребенку уверенно чувствовать себя в мире, получить самостоятельность. Это происходит через собственный опыт.</li>
        <li>В Монтессори-группе среда подготовлена таким образом, чтобы у детей была свобода выбора и возможность проявить заботу о себе с ранних лет.</li>
      </ul>
      <p>Помещение для занятий находится на 12 микрорайоне в Липецке.</p>
    </div>
  </section>
  <section class="py-8 lg:py-16">
    <div class="mx-auto max-w-6xl">
      <h2>Что же нас объединяет?</h2>
      <p class="mb-4">Клуб объединяет семьи, которые:</p>
      <ul class="list">
        <li>осознанно подходят к своей жизни, к жизни своих детей,</li>
        <li>берут ответственность за воспитание и образование своих детей на себя и если появляются препятствия, ищут решение и выход, без обвинения и поиска виновных,</li>
        <li>которых не устраивает традиционная система образования, которые хотят большего для своих детей, готовы сопровождать и поддерживать их на пути развития. которым важно, как они вместе с детьми проживут школьные годы, чем будет наполнено это время, у которых цель, не просто сдать экзамен и куда-то поступить, причем без особого понимания зачем это все нужно, а вырастить полноценного человека своего места и времени, который слышит себя и знает чего он хочет и который вступит во взрослую жизнь спокойно, уверенно и осознанно,</li>
        <li>открыты к диалогу и работе над собой, у которых есть согласие в семье,</li>
        <li>стремятся вести здоровый образ жизни.</li>
      </ul>
    </div>
  </section>
</div>
<%= render 'montessori/shared/footer' %>
