<!DOCTYPE html>
<html lang="ru" class="m-0 p-0 min-h-screen">
  <head>
    <title>Семейный клуб Монтессори среда, Липецк</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="семейный клуб, монтессори, Липецк, семейное обучение, развитие детей, домашнее обучение, гуманная педагогика, семейное развитие">
    <meta name="description" content="Центр семейного развития и пространство для обучения Монтессори среда, Липецк, развитие детей 3-6 и 6-12 лет в Монтессори среде">
    <link rel="apple-touch-icon" sizes="180x180" href="montessori-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="montessori-favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag 'montessori', media: 'all' %>
  </head>
  <body class="relative flex flex-col m-0 p-0 min-h-screen">
    <%= yield %>
  </body>
</html>
