<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Свободная среда</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="семейный клуб, монтессори, Липецк, семейное обучение, развитие детей, домашнее обучение, семейное обучение, гуманная педагогика">
    <meta name="description" content="Семейный клуб Свободная среда, Липецк">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'sreda', media: 'all' %>
    <%= favicon_link_tag 'sreda/favicon.ico' %>
  </head>
  <body class="flex">
    <%= yield %>
  </body>
</html>
